
<footer class="myfooter">
  <div class="footer-menu">
    <span id="symbols">&copy;</span>OlivieriPhoto 2020
  </div>

</footer>
  
  <script src="/js/animateAssets.js" type="text/javascript"></script>
</body>

</html>