
<footer class="myfooter">
  <div class="footer-menu">
    <span id="symbols">&copy;</span>OlivieriPhoto 2020
  </div>
  <div class="footer-icon-menu">
  <img class="footer-icon-instagram" src="/images/instagram.svg" />
  <!-- <p>Instagram</p> -->
  <img class="footer-icon-youtube" src="/images/youtube-square.svg" />
  <!-- <p>Youtube</p> -->
</div>
</footer>

  <script src="/js/menu.js" type="text/javascript"></script>

</body>

</html>