<% include ./partials/header %>
  <br>  
  <!--<h1>.bio</h1>-->
    <div class="container mine">
      <div class="row">
        <div class="col-12">
          <h1>.bio</h1>
        </div>
          <div class="col-md-6">
            <img class="img-fluid" src="https://res.cloudinary.com/danieltisue/image/upload/v1551464293/oliveri.foto/Self_Portrait_5.jpg" alt="profile pic">
          </div>
          <div id="paragraph" class="col-md-6">
                <p id="about"> 
                    My name is Federico Olivieri, and welcome to my photography site....
                    <br>
                    I have lived all over the world but currently reside in Toronto, Canada. 
                    I'm an experienced photographer with a special eye for captivating moments. 
                    I've been attracted to all forms of art but felt a special fascination 
                    with photography.
                    <br>
                    I have experience in all forms of photography and please feel 
                    free to ask for any additonal portfolio shots.
                    <br>
                    You can contact me for events, portraits, weddings, engagements, or any other of 
                    your photography needs with the links below!
                </p>
                <ul class="list-unstyled">
					<li><a href="mailto:federicoolivieriphoto@gmail.com" class="far fa-envelope fa-2x"><p id="me"> .get in touch </p></a></li>
				</ul>
          </div>
      </div> 
    </div>
    <br>
    <br>
        
<% include ./partials/footer %>