<% include ./partials/header %>

<section class="landing">
    <div class="landing-container">
      <div class="nav-brand">
        <!-- <a class="nav-brand-link" href="/"> -->
        <img src="/images/OlivieriPhoto-text_logo.svg">
        <!-- </a>       --> 
      </div>      
    </div>
</section> 

<!-- FEATURED SECTION -->
<section class="featured" id="featured-anchor">
  <div class="featured-container">
        <div class="page-header">
        <h1 class="header-text">Featured</h1>
        </div>

        
          <div class="row">
                <div class="column">
                  <img class="item item-1" src="https://res.cloudinary.com/danieltisue/image/upload/v1552229596/oliveri.foto/Gear_Stuff.jpg"
                              alt="">
                  <img class="item item-4"
                            src="https://res.cloudinary.com/danieltisue/image/upload/v1552499441/oliveri.foto/Sunset%20Boatd5915e2c123f3aa85683c822cca6eec3.jpg"
                            alt="">
                </div>
                
                <div class="column">
                  <img class="item item-2" src="/images/TorontoStreetDay.jpg" alt="">
                </div>  
              
                <div class="column column-3">
                  <img class="item item-3"
                    src="https://res.cloudinary.com/danieltisue/image/upload/v1552499301/oliveri.foto/Bouncing%20Sunb7ceadb7f7ac70edb533b70b70f94f5d.jpg"
                    alt="">
                    <div class="item item-5">
                      <h1>Gallery</h1>
                      <img class="cheveron" src="/images/op-chevron-right.svg">
                      <img class="cheveron" src="/images/op-chevron-right.svg">
                    </div>
                </div>
                  
          </div>
        

  </div>
</section>

<!-- ABOUT SECTION -->
<section class="bio" id="bio-anchor">
  <div class="bio-container">
    <div class="page-header">
      <h1 class="header-text">Bio</h1>
    </div>
  </div>
</section>


<!-- CONTACT SECTION -->
<section class="contact" id="contactanchor">
  <div class="contact-container">
    <div class="page-header">
     <h1 class="header-text">Let's Talk</h1>
    </div>

    <div class="form-wrapper">

      <form>
        <label>Name</label>
        <input type="text">
        <input type="text">
        <textarea></textarea>

      </form>

    </div>
  </div>
</section>
    
<% include ./partials/footer %>
