<% include ./partials/header %>

<section class="landing">
    <div class="landing-container">
      <img class="logotext" src="https://res.cloudinary.com/danieltisue/image/upload/v1595471137/oliveri.foto/WebsiteAssets/Asset.svg">
      <img class="logoimg" src="https://res.cloudinary.com/danieltisue/image/upload/v1595469640/oliveri.foto/WebsiteAssets/FO_BckGrnd_Portrait-FinalImage_2x.jpg">
      <div class="logo2text">
        <h2 class="pagetitle">Federico Olivieri Photography</h2>
       
      </div>     
    </div>
</section> 



<!-- ABOUT SECTION -->
<section class="bio" id="bio-anchor">
  <div class="bio-container">
    <div class="page-header">
      <h1 class="header-text">Bio</h1>
    </div>
  </div>
</section>


<!-- CONTACT SECTION -->
<section class="contact" id="contactanchor">
  <div class="contact-container">
    <div class="page-header">
     <h1 class="header-text">Let's Talk</h1>
    </div>

    <div class="form-wrapper">

      <form>
        <label>Name</label>
        <input type="text">
        <label>Email</label>
        <input type="text">
        <label>Message</label>
        <textarea></textarea>

      </form>

    </div>
  </div>
</section>
    
<% include ./partials/footer %>
