<% include ./partials/header %>

<section class="landing">
    <div class="landing-container">
      <div class="logo2text">
        <h2 class="pagetitle">Federico Olivieri Photography&nbsp;&nbsp;&nbsp;&nbsp;Toronto</h2>
      </div>     
      <img class="logotext" src="https://res.cloudinary.com/danieltisue/image/upload/v1596161473/oliveri.foto/WebsiteAssets/Asset6.svg">
      
    </div>
</section> 


<section class="bio">
  <div class="bio-container">
    <h2 class="bio-title" id="bio-anchor">My name is Federico and welcome to my work...</h2>
    <div class="paragraph-text">
      <p>I have lived all over the world but currently reside in Toronto, Canada.
        <br><br>
        I’m an experienced photographer with a special eye for captivating moments.
        I’ve been attracted to all forms of art but felt a special fascination with photography.
        My work is my opportunity to share with you the way I see the world.
        <br><br>
        Contact me for events, portraits, or any other of your photography needs.</p>
    </div>
    <div class="image-container">
      <img class="bio-photo"
        src="https://res.cloudinary.com/danieltisue/image/upload/v1595990280/oliveri.foto/WebsiteAssets/Final-ABOUT_Portrait.png">
    </div>
    
      
  </div>
 
</section>



    
<% include ./partials/footer %>
