<% include ./partials/header %>

<section class="landing">
    <div class="landing-container">
      <div class="nav-brand">
        <!-- <a class="nav-brand-link" href="/"> -->
        <img src="/images/OlivieriPhoto-text_logo.svg">
        <!-- </a>       --> 
      </div>      
    </div>
</section> 

<section class="featured" id="featured-anchor">
  <div class="featured-container">
    <div class="page-header">
      <h1 class="header-text">Featured</h1>
    </div>
    <div id="photos">


      <!-- <img class="Item1" src="https://res.cloudinary.com/danieltisue/image/upload/v1552229596/oliveri.foto/Gear_Stuff.jpg" alt="">

      <img class="ImageCenter" src="/images/TorontoStreetDay.jpg" alt="">

      <img class="Item3" src="https://res.cloudinary.com/danieltisue/image/upload/v1552499301/oliveri.foto/Bouncing%20Sunb7ceadb7f7ac70edb533b70b70f94f5d.jpg" alt="">

    
      <img class="Item5"
        src="https://res.cloudinary.com/danieltisue/image/upload/v1552499441/oliveri.foto/Sunset%20Boatd5915e2c123f3aa85683c822cca6eec3.jpg"
        alt="">

     <p class="GallerText">Gallery</p> -->
       

    </div>
  </div>
</section>

<section class="bio" id="bio-anchor">
  <div class="bio-container">
    <div class="page-header">
      <h1 class="header-text">Bio</h1>
    </div>
  </div>
</section>

<section class="contact" id="contactanchor">
  <div class="contact-container">
    <div class="page-header">
     <h1 class="header-text">Let's Talk</h1>
    </div>
  </div>
</section>
    
<% include ./partials/footer %>
