<% include ./partials/header %>

<section class="landing">
    <div class="landing-container">
      <div class="logo2text">
        <h2 class="pagetitle">Federico Olivieri Photography<span class="hide">&nbsp;&nbsp;&#8226;&nbsp;&nbsp;Toronto</span></h2>
      </div>     
      <img class="logotext" src="https://res.cloudinary.com/danieltisue/image/upload/v1596161473/oliveri.foto/WebsiteAssets/Asset6.svg">
      
    </div>
</section> 


<section class="bio">
  <div class="bio-container">
    <h2 class="bio-title" id="bio-anchor"><span class="hide">My name is Federico and&nbsp;</span>welcome to my work...</h2>
    <div class="paragraph-text">
      <p><span class="hide">I have lived all over the world but currently reside in Toronto, Canada.
        <br><br></span>
        I’m an experienced photographer with a special eye for captivating moments.
        I’ve been attracted to all forms of art but felt a special fascination with photography.
        My work is my opportunity to share with you the way I see the world.
        <br><br>
        Contact me for events, portraits, or any other of your photography needs.</p>
    </div>
    <div class="image-container">
      <img class="bio-photo"
        src="https://res.cloudinary.com/danieltisue/image/upload/v1595990280/oliveri.foto/WebsiteAssets/Final-ABOUT_Portrait.png">
    </div>
    
      
  </div>
 
</section>

<section class="contact">
  <div class="contact-container">
    <h2 class="contact-title">Let's talk</h2>
    <div class="form-wrapper">
      
      <form>
        <label>Name</label>
        <input type="text">
        <label>Email</label>
        <input type="text">
        <label>Message</label>
        <textarea name="message" id="form-message" cols="30" rows="10"></textarea>
        <button class="submit-btn" type="submit"><i class="material-icons">email</i>Send</button>
      </form>
    </div>
    

  </div>
  <div class="footer">

  </div>
</section>

    
<% include ./partials/footer %>
