<% include ./partials/header %>

<section class="landing">
    <div class="landing-container">
      <div class="logo2text">
        <h2 class="pagetitle">Federico Olivieri Photography&nbsp;&nbsp;&nbsp;&nbsp;Toronto</h2>
      </div>     
      <img class="logotext" src="https://res.cloudinary.com/danieltisue/image/upload/v1595471137/oliveri.foto/WebsiteAssets/Asset.svg">
      
    </div>
</section> 


<section class="bio">
  <div class="bio-container">
    <h2 class="bio-title" id="bio-anchor">My name is Federico and welcome to my work...</h2>
    <img class="bio-photo"
      src="https://res.cloudinary.com/danieltisue/image/upload/v1595990280/oliveri.foto/WebsiteAssets/Final-ABOUT_Portrait.png">
  </div>
 
</section>



    
<% include ./partials/footer %>
