<% include ./partials/header %>




  <section class="showcase">
  <div class="landing-container">
    </div>
  </section>

<!-- end of landing container -->

<section class="featured" id="featured-anchor">
  <div class="featured-container">
    <div>
      <img src="/images/Featured_Menu-titile.svg">
    </div>
  </div>
</section>

<section class="bio" id="bio-anchor">
  <div class="bio-container">
    <div>
      <img src="/images/BIO_LandingTitle.svg">
    </div>
  </div>
</section>

<section class="contact" id="contactanchor">
  <div class="contact-container">
    <div>
      <img src="/images/LetsTalk_Title.svg">
    </div>
  </div>
</section>
    
<% include ./partials/footer %>
