<% include ./partials/header %>

    <h2 class="edit-title">Login to edit your photos...</h2>

<div class="edit-container">
       
<form class="edit-form" action="/secretlogin" method="POST">
    <label for="inputFileName" class="edit-form-item">Username:</label>
    <input class="edit-form-item" name="username" id="inputFileName" type="text" placeholder="enter you username here...">
    <label for="inputFileName" class="edit-form-item">Password:</label>
    <input class="edit-form-item" name="password" id="inputFileName" type="password" placeholder="enter your password here...">
      <button type="submit" class="edit-form-item submit-btn">Submit</button>
</form>
</div>


<% include ./partials/footer %>