
@import url("https://use.typekit.net/xmh2jlu.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
font-family: bebas-neue-by-fontfabric, sans-serif;
font-weight: 100;
font-style: normal;
font-size: 16px;
line-height: 22px;
background-color: #000000;
color: #d2d2d2;
/* margin: 0 auto; */
overflow-x: hidden;
  /* overscroll-behavior: none; */
  /* -ms-overflow-style: none;  Internet Explorer 10+ */
    /* scrollbar-width: none;  Firefox */
}

/* ::-webkit-scrollbar {
    display: none;
} */

h1 {
font-family: bebas-neue-by-fontfabric, sans-serif;
font-weight: 700;
font-style: normal;
font-size: 3rem;
}


h2 {
font-family: bebas-neue-by-fontfabric, sans-serif;
font-weight: 300;
font-style: normal;
font-size: 1.5rem;  
letter-spacing: .2rem;
line-height: 1.8rem;
}


p {
font-family: 'Roboto', sans-serif;
font-weight: 300;
font-style: normal;
font-size: 19px;
line-height: 25px;
}

a {
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1rem;
  letter-spacing: .2rem;
  text-decoration: none;
  color: #ccc9c9de;
  cursor: pointer;
  /* transition: all .2s ease; */
}

a:hover {
    font-weight: 300;
    color: #ffffff;

}

li {
    list-style: none;
}
/* Navbar style */

nav {
  display: flex;
  min-height: 8vh;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  z-index: 2;
}

/* nav {
  border: 1px solid red;
} */

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav-menu {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  display: none;
}


/* Hamburger style */
  div.hamburger {
    padding: .7rem;
    position: fixed;
    cursor: pointer;
    transition: all .5s ease;
    display: none;
    cursor: pointer;
    z-index: 2;
  }
  

  .hamburger div.line {
    
    height: 2px;
    width: 30px;
    margin: 8px;
    background-color: #d2d2d2;
    
  }

  /* Toggled classes */

.active {
  transform: translateX(0%) !important;
  
}




  .rotate-bottom {
  transform: rotate(-45deg) translate(7px, -8px);
  transition: all .5s ease;
  }

  .rotate-top{
  transform: rotate(45deg);
  transition: all .5s ease;
  }

  .remove-center {
  display: none;
  }

                

/* ============================================================== */
/* Olivieri photo logo */
/* ============================================================== */


.logotext {
min-width: 5%;
width: 15%;
max-width: 95px;
max-height: 524px;
position: absolute;
bottom: 15%;
right: 7%;
/* z-index: -1; */
}

.logo2text {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000 ;
       
}






/* MEDIA QUERIES */
/* ----------------------------------------------- */
@media screen and (max-width: 1023px) {


.nav-menu {
    display: none;
  }
    
.logotext {
  display: none;
}

.logo2text {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000 ;
       
}

.paragraph-text {
  
  height: 50% !important;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  
}

.paragraph-text p {
  width: 100% !important;
  margin: 0 !important;
  font-size: 15px;
  line-height: 21px;
}

}




/* MOBILE RENDERING */

 @media screen and (max-width: 480px) { 
  body {
    overflow-x: hidden !important;
    overscroll-behavior-x: none !important;
  }

  h2 {
    font-size: 18px;
    line-height: 26px;
  }

  nav {
    justify-content: flex-end;
    overflow-x: hidden !important;
  }

  .navbar li {
    display: none;
  }

  .nav-menu {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    background-color: #000000;
    /* border-left: 1px solid #ffffff; */
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 2;
  }

  /* .nav-item-menu {
    opacity: 0;
  } */

  /* Hamburger style */
  div.hamburger {
    display: block;
    z-index: 3;
  }

  

.logotext {
  display: none;
}

.logo2text {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000 ;
       
}

#bio-anchor {
  margin-top: -2rem !important;
  margin-bottom: 2.2rem !important;
}

.bio-photo {
  min-width: 225px !important;
  width: 100% !important;
  margin-top: 2rem !important;
}

.paragraph-text p {
  position: relative !important;
  padding-top: 2rem !important;
  z-index: 1 !important;
  margin-bottom: 4rem !important;
}

}



 
/* ============================================================== */
/* Containers and Section specifics*/
/* ============================================================== */

section.landing {
    background-image: url(../images/FO_BckGrnd_Portrait-FinalImage.jpg);
    background-repeat: no-repeat;
    background-position: bottom 0 right 0;
    /* background-size: 66vw; */
    height: 100vh;
    background-color: #000000;
    width: 100vw;
    overflow-x: hidden;
}

section.contact, section.bio {
    height: 100vh;
    background-color: #000000;
    /* width: 100vw; */
}

/* container specifics */
.landing-container {
  position: relative;
  bottom: 0;
    width: 100%;
    height: 96vh;
    padding: .2rem 2rem;
   
}

.bio-container, .contact-container {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 4rem 2rem;
}

.bio-title {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  /* align-items: center; */
}

.bio-photo {
  min-width: 500px;
  width: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 2rem;
}

.paragraph-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}

.paragraph-text p {
  width: 35%;
  margin-right: 8rem;
}
/* @media screen and (min-width: 1500px) {
  section.landing {
    background-size: 50vw;
  }
} */




/* ************************************************ */
/* not sure what this is to yet....gallery? */
.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}
/* ************************************************ */



/* Flash ux container */
.container-flash {
    margin-top: 100px;
    margin-bottom: -130px;
    text-align: center;
}















/******************************************/
/*header UI NAV */
/******************************************/

/******************************************/
/*start of gallery UI*/
/**********************************/
.title {
    padding-top: 80px;
    padding-bottom: 25px;
}
.bottom {
    padding-top: 25px;
    padding-bottom: 50px;
}

/* ------------------------------------------------------ */
/* GALLERY + PICTURE STYLING */
/* ----------------------------------------------- */
.section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

div.pic {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  height:100%;
  width: 100%;
  background: #000000;
}

.red {
    -webkit-box-shadow: 3px 3px black;
            box-shadow: 3px 3px black;
}

div.pic * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

div.pic img {
  max-width: 100%;
  vertical-align: top;
  height: 210px;
}

div.pic:hover {
    overflow: visible;
    z-index: 3;
    padding: 10px;
    margin:5px;
    -webkit-box-shadow: none;
            box-shadow: none;
}

div.pic:hover img{
    max-width: 100%;
    max-height: 100%;
    z-index: 3;
    padding: 10px;
    margin-right:15px;
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5)
}

/* ----------------------------------------------------- */

.buttons.edit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
}

/

/************************************/
/*Image Form UI*/
/************************************/
.container.one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    border: 1px solid white;
    background-color: black;
    max-width: 700px;
    padding: 25px;
}

#symbols {
    font-weight: 400;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    font-family: bebas-neue-by-fontfabric, sans-serif;
    font-weight: 100;
    font-size: 1rem;
    letter-spacing: .2rem;
    color: #d2d2d2;
    
}