/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * bebas-neue-by-fontfabric:
 *   - http://typekit.com/eulas/00000000000000003b9b1557
 *   - http://typekit.com/eulas/00000000000000003b9b155a
 * titular:
 *   - http://typekit.com/eulas/00000000000000003b9b0484
 *
 * © 2009-2020 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2020-03-28 17:42:23 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=bee3ofa&ht=tk&f=35533.37896.37899&a=17545688&app=typekit&e=css");

@font-face {
font-family:"titular";
src:url("https://use.typekit.net/af/36242b/00000000000000003b9b0484/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/36242b/00000000000000003b9b0484/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/36242b/00000000000000003b9b0484/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
font-family:"bebas-neue-by-fontfabric";
src:url("https://use.typekit.net/af/c5fa06/00000000000000003b9b1557/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff2"),url("https://use.typekit.net/af/c5fa06/00000000000000003b9b1557/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff"),url("https://use.typekit.net/af/c5fa06/00000000000000003b9b1557/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:100;
}

@font-face {
font-family:"bebas-neue-by-fontfabric";
src:url("https://use.typekit.net/af/88cc55/00000000000000003b9b155a/27/l?subset_id=2&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/88cc55/00000000000000003b9b155a/27/d?subset_id=2&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/88cc55/00000000000000003b9b155a/27/a?subset_id=2&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

.tk-titular { font-family: "titular",sans-serif; }
.tk-bebas-neue-by-fontfabric { font-family: "bebas-neue-by-fontfabric",sans-serif; }



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  background-color: #ffffff;
  color: #d2d2d2;
  margin: 0 auto;
  overscroll-behavior: none;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
    display: none;
}

h1 {
  font-family: 'bebas-neue-by-fontfabric', 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 3rem;
}


h2 {
  font-family: 'titular', sans-serif;
font-weight: 300;
font-style: normal;
font-size: 3rem;  
letter-spacing: 1.8rem;
}

p {
font-family: 'titular', sans-serif;
font-weight: 300;
font-style: normal;
font-size: 2rem;
}

a {
  text-decoration: none;
  color: #d2d2d2;
  cursor: pointer;
  transition: all .4s ease;
}

a:hover {
    color: #4999b2;
    text-shadow:1px 1px 2px #d2d2d2;
}

li {
    list-style: none;
}


/* ============================================================== */
/* Containers and Section specifics*/
/* ============================================================== */

section.landing {
    background: url(/images/Artboard.jpg) no-repeat center center;
    background-size: 100% auto;
    height: 100vh;
    background-color: #ffffff;
    width: 100vw;
}

section.featured, section.contact, section.bio {
    height: 100%;
    background-color: #ffffff;
    /* width: 100vw; */
}

/* container specifics */
.landing-container, .featured-container, .bio-container, .contact-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.featured-container, .bio-container, .contact-container {
    padding: 0 3rem;
}

.page-header {
    padding: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

img.cheveron {
    width: 25px !important;
    margin: 0 !important;
    padding: .2rem !important;
}

/* ============================================================== */
/* Olivieri photo logo */
/* ============================================================== */

.nav-brand {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

div.nav-brand img {
  width: 35%;
  padding-left: 3rem;
}



/* ============================================================== */
/* Featured section */
/* ============================================================== */



.row {
  display: flex;
    justify-content: center;
  flex-wrap: wrap;
  padding: 0 4px;
  border: 1px solid black;
}

.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.item {
padding-top: 8px;
  vertical-align: top;
  width: 100%;
}




.item-5 {
    display: flex;
    justify-content: center;
    margin-top: 45%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    
    flex: 50%;
    max-width: 50%;
  }
.column-3 .item-3 {
   display: none;
   
}

.item-5 {
    
    margin-top: 0;
    padding: 25px;
}

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* ============================================================== */
/* media queries */
/* ============================================================== */

@media only screen and (max-width: 900px) {

 h1 {
     font-size: 2.3rem;
 }

}

@media only screen and (max-width: 700px) {

section.landing {
    background-image: none;
}

div.nav-brand img {
    width: 60%;
  
}

 h2 {
    font-size: 2rem;
    }

   
}

@media only screen and (max-width: 480px) {

    div.nav-brand img {
    width: 100%;
    padding: 2rem;
}

}

/* ************************************************ */


/* ************************************************ */
/* not sure what this is to yet....gallery? */
.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}
/* ************************************************ */



/* Flash ux container */
.container-flash {
    margin-top: 100px;
    margin-bottom: -130px;
    text-align: center;
}















/******************************************/
/*header UI NAV */
/******************************************/

/******************************************/
/*start of gallery UI*/
/**********************************/
.title {
    padding-top: 80px;
    padding-bottom: 25px;
}
.bottom {
    padding-top: 25px;
    padding-bottom: 50px;
}

/* ------------------------------------------------------ */
/* GALLERY + PICTURE STYLING */
/* ----------------------------------------------- */
.section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

div.pic {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  height:100%;
  width: 100%;
  background: #000000;
}

.red {
    -webkit-box-shadow: 3px 3px black;
            box-shadow: 3px 3px black;
}

div.pic * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

div.pic img {
  max-width: 100%;
  vertical-align: top;
  height: 210px;
}

div.pic:hover {
    overflow: visible;
    z-index: 3;
    padding: 10px;
    margin:5px;
    -webkit-box-shadow: none;
            box-shadow: none;
}

div.pic:hover img{
    max-width: 100%;
    max-height: 100%;
    z-index: 3;
    padding: 10px;
    margin-right:15px;
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5)
}

/* ----------------------------------------------------- */

.buttons.edit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
}

/

/************************************/
/*Image Form UI*/
/************************************/
.container.one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    border: 1px solid white;
    background-color: black;
    max-width: 700px;
    padding: 25px;
}

#symbols {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    font-family: 'titular', sans-serif;
    font-size: 1rem;
    letter-spacing: .2rem;
    color: #d2d2d2;
    
}