
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  background-color: #ffffff;
  color: #d2d2d2;
  margin: 0 auto;
  
}

h1 {
  font-family: 'bebas-neue-by-fontfabric', 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 3rem;
}
.brand-name {
    letter-spacing: .6rem;;
}

h2 {
  font-family: 'titular', sans-serif;
font-weight: 300;
font-style: normal;
font-size: 3rem;  
letter-spacing: 1.8rem;
}

p {
font-family: 'titular', sans-serif;
font-weight: 300;
font-style: normal;
font-size: 2rem;
}

a {
  text-decoration: none;
  color: #d2d2d2;
  transition: all .4s ease;
}

a:hover {
    color: #4999b2;
    text-shadow:1px 1px 2px #d2d2d2;
}

li {
    list-style: none;
}



/* container specifics */
.landing-container, .featured-container, .bio-container, .contact-container {
    width: 100%;
    /* max-width: 1200px; */
    height: 100vh;
    margin: 0 auto;
}


/* ************************************************ */
/* media queries */


@media only screen and (max-width: 680px) {
    
    h1, h2 {
        font-size: 2rem;
    }


}



/* ************************************************ */


/* ************************************************ */
/* not sure what this is to yet....gallery? */
.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}
/* ************************************************ */

section.showcase {
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
}

/* Flash ux container */
.container-flash {
    margin-top: 100px;
    margin-bottom: -130px;
    text-align: center;
}

/* Featured section and Bio section container/ Contact section container*/

section.featured, section.contact, section.bio {
    height: 100vh;
    background-color: #ffffff;
    /* overflow: visible; */
    width: 100%;
}

.featured-container > div, .bio-container > div, .contact-container > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3rem;
}













/******************************************/
/*header UI NAV */
/******************************************/

/******************************************/
/*start of gallery UI*/
/**********************************/
.title {
    padding-top: 80px;
    padding-bottom: 25px;
}
.bottom {
    padding-top: 25px;
    padding-bottom: 50px;
}

/* ------------------------------------------------------ */
/* GALLERY + PICTURE STYLING */
/* ----------------------------------------------- */
.section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

div.pic {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  height:100%;
  width: 100%;
  background: #000000;
}

.red {
    -webkit-box-shadow: 3px 3px black;
            box-shadow: 3px 3px black;
}

div.pic * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

div.pic img {
  max-width: 100%;
  vertical-align: top;
  height: 210px;
}

div.pic:hover {
    overflow: visible;
    z-index: 3;
    padding: 10px;
    margin:5px;
    -webkit-box-shadow: none;
            box-shadow: none;
}

div.pic:hover img{
    max-width: 100%;
    max-height: 100%;
    z-index: 3;
    padding: 10px;
    margin-right:15px;
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5)
}

/* ----------------------------------------------------- */

.buttons.edit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
}

/************************************/
/*artist profile UI*/
/************************************/
.col-sm-6 p {
  font-size: 19px;
}
.container.mine {
/*    max-height: 75vh;*/
    /*padding-top: 0px;*/
    /*border: 1px solid white;*/
/*    margin-bottom: 45px;*/
    /*padding-bottom: 20px;*/
    position: relative;
}
#paragraph {
    padding-bottom: 32px;
}

.container.mine h1 {
    padding: 100px 0 15px 0;
}

.list-unstyled {
    padding: 2px;
}
ul.list-unstyled li a {
    color: white !important;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
}
ul.list-unstyled li a:hover {
    cursor: pointer !important;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}
#about {
    color: white;
    -webkit-text-decoration: bold;
            text-decoration: bold;
    text-shadow: 1px 1px #555555;
}
#me {
    display: inline !important;
    font-family: 'Oswald', sans-serif !important;
    font-size: 18px !important;
}

/************************************/
/*Image Form UI*/
/************************************/
.container.one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    border: 1px solid white;
    background-color: black;
    max-width: 700px;
    padding: 25px;
}