/* Navbar style */

.navbar {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 1rem;
}

/* ******************************************* */
/* Hamburger style */
div.hamburger {
  padding: 1.5rem;
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 5;
  transition: all .5s ease;
  visibility: hidden;
}

.rotate-bottom {
transform: rotate(-45deg) translate(7px, -8px);
transition: all .5s ease;
}

.rotate-top{
transform: rotate(45deg);
transition: all .5s ease;
}

.remove-center {
display: none;
}

.hamburger div.line {
  height: 3px;
  width: 35px;
  margin: 8px;
  background-color: #d2d2d2;
  
}

/* ******************************************* */
/* nav styling */
div.nav {
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 50px;
  overscroll-behavior-y: contain;
  visibility: hidden;
}

.ul-alignment {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: -50px;
  margin: 0 auto;
    overscroll-behavior-y: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  clip-path: circle(100px at 90% -20%);
  transition: all .5s ease;
}

.open {
clip-path: circle(1800px at 90% -10%);
}

.top-level {
  z-index: 5 !important;
}

/* ******************************************* */
/* menu text styling */
.title-text {
  position: relative;
  left: 0;
  font-size: 3rem;
  font-family: 'bebas-neue-by-fontfabric', 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #d2d2d2;
  letter-spacing: .1rem;
  z-index: 3;
  padding-bottom: 2rem;
  transition: all .4s ease;

}

.title-text:hover {
  color: #171717;
  opacity: .75;
  transition: all .4s ease;
}
   

/* ******************************************* */
/* icon placement */
#icon-placement {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 8;
}
.nav-item-icon {
  cursor: pointer;
}
a.nav-link-icon svg {
  width: 2rem;
  padding-right: 10px;
  cursor: pointer;
}

.nav-link-icon svg:hover {
  fill: #171717;
  opacity: .75;
  transform: scale(1.2);
  transition: all .4s ease;
}

.display-none {
    display: none;
}

/* MEDIA QUERIES */

 @media screen and (max-width: 350px) {

  div.hamburger {
  position: fixed !important;
  top: 0px !important;
  left: 0px !important;
  padding: 1rem;
  cursor: pointer !important;
  z-index: 5 !important;
  transition: all .5s ease; 
}

  .ul-alignment {
  width: 100vw !important;
  height: 100vh !important;
  position: fixed !important;
  top: 25px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: flex-start !important;
  padding-left: 25px !important;
  background-color: #ffffff !important;
  opacity: 0;
}
.open {
opacity: 1;
} 

.nav-item-menu {
 height: 4rem !important;
}

.rotate-bottom {
transform: rotate(-45deg) translate(7px, -8px) !important;
transition: all .5s ease !important;
}

.rotate-top{
transform: rotate(45deg) !important;
transition: all .5s ease !important;
}

.remove-center {
display: none !important;
}
}

@media only screen and (max-width: 300px) {

  h2 {
    letter-spacing: 1.5rem;
  }
}