

/* for image layout */

section {
  margin: 0px auto;
}

#photo {
  line-height: 0;
  column-count: 4;
  column-gap: 10px;
 
}

#photo img {
  height: auto;
  width: 300px;
  padding: 5px 0;
}

@media (max-width: 2000px) {
  #photo {
    column-count: 5;
  }
}

@media (max-width: 1400px) {
  #photo {
    column-count: 4;
  }
}

@media (max-width: 1200px) {
  #photo {
    column-count: 3;
  }
}

@media (max-width: 800px) {
  #photo {
    column-count: 2;
  }
}

@media (max-width: 600px) {
  #photo {
    column-count: 1;
  }
}

/* old image layout + img animation */
.section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

div.pic {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  height:100%;
  width: 100%;
  background: #000000;
}

.red {
    -webkit-box-shadow: 3px 3px black;
            box-shadow: 3px 3px black;
}

div.pic * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

div.pic img {
  max-width: 100%;
  vertical-align: top;
  height: 210px;
}

div.pic:hover {
    overflow: visible;
    z-index: 3;
    padding: 10px;
    margin:5px;
    -webkit-box-shadow: none;
            box-shadow: none;
}

div.pic:hover img{
    max-width: 100%;
    max-height: 100%;
    z-index: 3;
    padding: 10px;
    margin-right:15px;
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5)
}
